h1 {
  color:#f5c876;
  font-size:40px;
}

h2 {
  color:#f5c876;
  font-size:40px;
}

h3 {
  color:#f5c876;
  font-size:40px;
}

body {
  background-color:#f5f1ae;
}

p {
  color:#f5a276;
  font-size:24px;
}

img {
  width: 50%;
  height: auto;
}

header {
    text-align:center;
    background:#89c0fa;
    color:#f5c876;
}
